/* grey background : rgb(43, 43, 43) */

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  background-color: rgb(22, 22, 22);
}
.brand {
  width: 90px;
}
.navbar-brand {
  visibility: visible;
}
ul .navbar-brand {
  visibility: hidden;
  height: 1px;
}
.form-control:focus {
  height: 30px;
  border-radius: 5px;
}
.form-control ,.form-inline .btn {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px white;
}

/* slide */
.img-slide {
  background-image: url("../img/landingImage.jpg");
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 550px;
}
.slide {
  background-color:rgba(43, 43, 43, 0.5);
  width: 100%;
  height: 550px;
}

.big-brand a img{
  width: 200px;
  margin: 100px auto;
  position: static;
}
.register-promo {
  color: white;
  margin: 20px;
  text-align: center;
}
.button-clean {
  background-color: transparent;
  border: none;
}
.scrollTo i {
  visibility: hidden;
}

/* content */
.produk {
  width: 200px;
}
.content {
  padding: 50px;
}

/* service */
.location {
  background-color: rgba(0, 0, 0, 0.5);
}

/* footer */
footer .container {
  padding: 40px 20px;
  box-shadow: 0px -3px 5px -4px rgba(19, 19, 19, 0.5);
}
.copyright {
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 992px) {
  /* navbar */
  .navbar {
    background-color: transparent;
  }
  .navbar-collapse {
    margin: 0 10%;
  }
  .navbar-brand {
    visibility: hidden;
  }
  ul .navbar-brand {
    visibility: visible;
  }

  /* slide */
  .img-slide {
    height: 800px;
    text-align: center;
    margin-top: -69px;
  }
  .slide {
    height: 800px;
  }
  .big-brand a img{
    width: 380px;
  }
  .scrollTo i {
    visibility: visible;
  }
  .fa-arrow-alt-circle-down{
    width: 200px;
    color: rgb(19, 191, 74);
  }/* content */
}
